{% extends "layout.html" %}

{% block head %}
<title>OSP Hub - Clips</title>
{% endblock %}

{% block body %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><b>Clips</b></div>
    </div>
    <div class="row mx-2">
        <div class="d-flex flex-wrap justify-content-start">
            {% for clip in clipList %}
            <div class="displayCard py-1 pr-1">
                <a href="{{ clip.location }}">
                    <div>
                        <img class="shadow lazy zoom" {% if clip.video.channel.protected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg"
                            onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="{{ clip.img }}">
                    </div>
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{clip.name|limit_title}}</b></div>
                        <i class="fas fa-video mr-2"></i> {{clip.video.channel.name}}<br>
                        <i class="fas fa-hashtag mr-2"></i> {{clip.video.topic|get_topicName}}<br>
                        {% if clip.video.channel.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                        <span class="displayCard-footer">
                            <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{clip.upvotes}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{clip.views}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-clock"></i> {{clip.length|hms_format}}</span>
                        </span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}


