<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel=stylesheet type=text/css href="/static/css/shared.css">
  <link rel=stylesheet type=text/css href="/static/css/slider.css">
  <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.css">
  <link href="/static/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/vendor/dropzone/css/basic.min.css" />
  <link rel="stylesheet" href="/static/vendor/dropzone/css/dropzone.min.css" />
  <link rel="stylesheet" href="/static/vendor/simplemde/css/simplemde.min.css">
  <link rel=stylesheet type=text/css href="/static/css/Defaultv2.css">
  <script src="/static/vendor/socketio/js/socket.io.js"></script>
  <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>
  <script src="/static/vendor/lazyload/js/lazyload.min.js"></script>
  <script src="/static/vendor/simplemde/js/simplemde.min.js"></script>

  {% block head %}

  {% endblock %}

</head>

<body>

  <div class="main-navbar">
    <nav class="navbar  navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="/">
        <img src="/static/img/osp_hub_logo.png" width="48" height="48" class="d-inline-block align-top" alt="">
        <span class="navbar-title"><b>OSP Hub</b></span>
      </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" id="main-navbar-options">
          <li class="nav-item px-3">
            <a class="nav-link" href="/streams"><b>Live Streams</b></a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="/videos"><b>Videos</b></a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="/clips"><b>Clips</b></a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="/topics"><b>Topics</b></a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="/channels"><b>Channels</b></a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="/streamers"><b>Streamers</b></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  {% block body %}

  {% endblock %}

  <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>
  <script src="/static/vendor/popper/js/popper.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/vendor/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
  {% block scripts %}

  {% endblock %}

  <script>
    var lazyLoadInstance = new LazyLoad({
      elements_selector: ".lazy"
    });
  </script>

</body>


</html>