{% extends "layout.html" %}

{% block head %}
<title>OSP Hub - Topics</title>
{% endblock %}

{% block body %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-live-title"><b>Topics</b></div>
    </div>
    <div class="row mx-2">
        <div class="d-flex flex-wrap justify-content-start">
            {% for topic in topicList %}
                <div class="displayCard py-1 pr-2">
                    <a href="/topics/{{topic}}/">
                    <img class="shadow lazy zoom" src="#" onerror="this.src='/static/img/video-placeholder.jpg';">
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{topic}}</b></div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}


